- load static i18n
- get_current_language as LANGUAGE_CODE
!!!
%html{lang: "{{LANGUAGE_CODE}}"}
  %head
    %title 
      - block title
    - block stylesheets
      <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
      %link{href: "https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.14/semantic.css", rel: "stylesheet", type: "text/css"}
      %link{href: "{% static 'slick/css/slick.css' %}", rel: "stylesheet", type: "text/css"}
    - block extrahead

  %body{:class => "pushable {% block bodyclass %}{% endblock %}"}
    .pusher
      .full.height
        - if not is_popup
          - block sidebar
              #sidebar
                .ui.vertical.pointing.menu.inverted
                  - block sidebar-menu
                    - include "slick/partials/sidebar_nav.haml"
        
        .main.ui.container
          - if not is_popup
            .ui.masthead.vertical.segment
              .ui.container
                .ui.two.column.grid
                  .column
                    - if title
                      %h2.ui.header
                        {{ title }}
                  .column
                    - block object-tools
                      - block object-tools-items

          - block messages
            - if messages
                - for message in messages
                  .ui.message.info
                    %p
                      {{ message }}

          .ui.main.attached
            .ui.container
              - block content

      / - block footer
      /   - include "slick/partials/footer.haml"

    - block javascript
      %script{src: "//ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"}
      <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.14/semantic.js"></script>
      :javascript
        $('.ui.dropdown').dropdown();
        $('.ui.accordion').accordion();
        $('.popup').popup();

