- extends "base.html"
- load bootstrap3

- block content
  .row
    .col-sm-12
      .panel
        .panel-heading
            %h3.panel-title
                Are you sure you want to delete {{ object }}?
        .panel-body
            .padding-15
                %form#object-delete.form-horizontal{:action => ".", :method => "post"}
                    - csrf_token
                    .form-group
                        .col-sm-10
                            %input.btn.btn-danger{:type => "submit", :value => "Yes Delete!"}
                            %a.btn.btn-default{:href => "{% url 'slick:detail' object.pk %}"}
                                Cancel
