- extends "base.html"
- load bootstrap3 slick_tags i18n activelink

- block list-tools-items
    %a.btn.btn-default{:href => "{% url 'slick:list' %}"} 
        - blocktrans with vnp_title=opts.verbose_name_plural.title
            View All
    - include "slick/partials/manager_links.html"

- block page-heading-title
    {{ opts.verbose_name.title }} :: {{ object }}

- block content
  .row
    .col-sm-12
      .panel
        .panel-heading
            %h3.panel-title
                {{ object }}
        .panel-body
            .padding-15
                - slick_render_as_table object