{% extends "base.html" %}
{% load i18n activelink slick_tags %}
{% load url from future %}
{% load humanize %}


{% block extrascripts %}
    {{ block.super }}
    <script>
        $(function () {
            $(".all").click(function () {
                $("input[name={{ selected_name }}]").prop("checked", this.checked);
            });
            $("input[name={{ selected_name }}]").click(function () {
                $(".all").prop('checked', $("input[name={{ selected_name }}]").length ==
                        $("input[name={{ selected_name }}]:checked").length);
            });
        });
    </script>
{% endblock extrascripts %}


{% block list-tools-items %}
    - include "slick/partials/manager_links.html"
{% endblock %}


- block page-heading-title
    {{opts.verbose_name_plural.title}}

{% block content %}

  .row
    .col-sm-12
      .panel
        .panel-heading
            %h3.panel-title
                {{opts.verbose_name_plural.title}}
        .panel-body
            .padding-15
                - if filters
                    - for filter in filters
                        .btn-group
                            %button.btn.dropdown-toggle{:data-toggle => "dropdown", :class => "{% if not filter.used_parameters %}btn-default{% else %}btn-info{% endif %}"}
                                {{ filter.title.title }}
                                %span.caret
                            %ul.dropdown-menu{:role => "menu"}
                                - for item in filter.items
                                    %li
                                        %a{:href => "{{ item.query_string }}"}
                                            - if item.selected
                                                %em.fa.fa-check
                                            {{ item.display }}
                        
               
                {% if search %}
                    <form class="pull-right">
                        <div class="form-group">
                            <input class="form-control"
                                   name="{{ search }}"
                                   value="{{ query }}"
                                   type="text"
                                   placeholder="{% trans 'Search Terms...' %}">
                        </div>
                    </form>
                {% endif %}
                
                .clearfix
                
                - include "slick/partials/list.html"
            

            .panel-footer
                {% if object_list and actions %}
                    <div class="navbar navbar-default">
                        <div class="navbar-form">
                            <div class="form-group">
                                {% csrf_token %}
                                <select name="{{ action_name }}" class="form-control">
                                    {% for action,name in actions %}
                                        <option value="{{ action }}">{{ name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <button class="btn btn-default">Go</button>
                        </div>
                    </div>
                    </form>
                {% endif %}

                {% with page_obj as page %}
                    {% if page %}
                        {% include "slick/pagination.html" %}
                    {% endif %}
                {% endwith %}

{% endblock content %}