{% extends "base.html" %}
{% load i18n activelink slick_tags %}
{% load url from future %}
{% load humanize %}


{% block extrascripts %}
    {{ block.super }}
    <script>
        $(function () {
            $(".all").click(function () {
                $("input[name={{ selected_name }}]").prop("checked", this.checked);
            });
            $("input[name={{ selected_name }}]").click(function () {
                $(".all").prop('checked', $("input[name={{ selected_name }}]").length ==
                        $("input[name={{ selected_name }}]:checked").length);
            });
        });
    </script>
{% endblock extrascripts %}


{% block list-tools-items %}
    - include "slick/partials/manager_links.html"
{% endblock %}


- block page-heading-title
    {{opts.verbose_name_plural.title}}

{% block content %}

  .row
    .col-sm-12
      .panel
        .panel-heading
            %h3.panel-title
                {{opts.verbose_name_plural.title}}
        .panel-body
            .padding-15
                - if filters
                    - for filter in filters
                        .btn-group
                            %button.btn.dropdown-toggle{:data-toggle => "dropdown", :class => "{% if not filter.used_parameters %}btn-default{% else %}btn-info{% endif %}"}
                                {{ filter.title.title }}
                                %span.caret
                            %ul.dropdown-menu{:role => "menu"}
                                - for item in filter.items
                                    %li
                                        %a{:href => "{{ item.query_string }}"}
                                            - if item.selected
                                                %em.fa.fa-check
                                            {{ item.display }}
                        

                {% if search %}
                    <form class="pull-right">
                        <div class="form-group">
                            <input class="form-control"
                                   name="{{ search }}"
                                   value="{{ query }}"
                                   type="text"
                                   placeholder="{% trans 'Search Terms...' %}">
                        </div>
                    </form>
                {% endif %}


                {% if actions %}
                    <form action="." method="post">
                {% endif %}


            {% block list_detail %}
                {% if headers and rows %}
                    {% if object_list %}
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                {% if actions %}
                                    <th>
                                        <input type="checkbox" class="all">
                                    </th>
                                {% endif %}
                                {% for header in headers %}
                                    <th>{{ header|safe }}</th>
                                {% endfor %}
                            </tr>
                            </thead>
                            {% for object, row in rows %}
                                <tr>
                                    {% if actions %}
                                        <td><input type="checkbox"
                                                   value="{{ object.pk }}"
                                                   name="{{ selected_name }}"></td>
                                    {% endif %}
                                    {% for cell in row %}
                                        <td>{{ cell }}</td>
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                        </table>
                    {% else %}
                        {% if request.META.QUERY_STRING %}
                            <div>
                              <em>
                                {% blocktrans with vnp=opts.verbose_name_plural %}No {{ vnp }} match your search{% endblocktrans %}
                              </em>
                            </div>
                        {% else %}
                            {% block list_empty %}
                                <div>
                                  <em>
                                    {% blocktrans with vnp=opts.verbose_name_plural %}Sorry, there are no {{ vnp }} at this time.{% endblocktrans %}
                                  </em>
                                </div>
                            {% endblock list_empty %}
                        {% endif %}
                    {% endif %}
                {% else %}
                    {% if object_list %}
                        <table class="table table-striped table-bordered">
                            {% block list_detail_header %}{% endblock list_detail_header %}
                            {% for object in object_list %}
                                {% block list_detail_item %}
                                    <tr>
                                        <td>
                                            <a href="{% url 'slick:detail' object|pkslug %}">{{ object }}</a>
                                        </td>
                                    </tr>
                                {% endblock %}
                            {% endfor %}
                        </table>
                    {% else %}
                        {% if request.META.QUERY_STRING %}
                            <div>
                              <em>
                                {% blocktrans with vnp=opts.verbose_name_plural %}No {{ vnp }} match your search{% endblocktrans %}
                              </em>
                            </div>
                        {% else %}
                                <div>
                                  <em>
                                    {% blocktrans with vnp=opts.verbose_name_plural %}Sorry, there are no {{ vnp }} at this time.{% endblocktrans %}
                                  </em>
                                </div>
                        {% endif %}
                    {% endif %}
                {% endif %}
            {% endblock list_detail %}

            .panel-footer
                {% if object_list and actions %}
                    <div class="navbar navbar-default">
                        <div class="navbar-form">
                            <div class="form-group">
                                {% csrf_token %}
                                <select name="{{ action_name }}" class="form-control">
                                    {% for action,name in actions %}
                                        <option value="{{ action }}">{{ name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <button class="btn btn-default">Go</button>
                        </div>
                    </div>
                    </form>
                {% endif %}

                {% with page_obj as page %}
                    {% if page %}
                        {% include "slick/pagination.html" %}
                    {% endif %}
                {% endwith %}

{% endblock content %}