- extends "base.html"
- load bootstrap3

- block list-tools-items
    %a.btn.btn-default{:href => ".."}
        Back
    %a.btn.btn-primary{:href => "#", :onclick => "$(\"#object-form\").submit();return false;"}
        Save

- block page-heading-title
    Update {{ object }}

- block content
  .row
    .col-sm-12
      .panel
        .panel-heading
            %h3.panel-title
                {{ opts.verbose_name.title }}
        .panel-body
            .padding-15
                %form#object-form.form-horizontal{:action => "", :method => "post"}
                    - csrf_token
                    - bootstrap_form form layout='horizontal'
                    .form-group
                        .col-sm-offset-2.col-sm-10
                            %input.btn.btn-primary{:type => "submit", :value => "Save"}