
.nav{}

  %li.nav-header
    Navigation

  %li{:ng-repeat => "app in apps"}
    %a{:data-toggle => "collapse", :data-target => "#sub-menu-{{ app.app_label }}", :aria-expanded => "false", :data-parent => "#sidebar"}
      %b.caret.pull-right
      %i{:class => "fa fa-app-default fa-app-{{app.name|lowercase}}"}
      %span

          {{app.name}}

    %ul.sub-menu.collapse{:id => "sub-menu-{{ app.app_label }}"}
        %li{:ng-repeat => "model in app.models", :ui-sref-active => "active"}
          %a{:ui-sref => "objects.list({ app_label: \"{{app.app_label}}\", model: \"{{model.name}}\" })"}

              {{model.plural}}

