<div class='nav'>

  <li class='nav-header'>
    Navigation

  </li>
  <li ng-repeat='app in apps'>
    <a data-toggle='collapse' data-parent='#sidebar' data-target='#sub-menu-{{ app.app_label }}' aria-expanded='false'>
      <b class='caret pull-right'></b>
      <i class='fa fa-app-default fa-app-{{app.name|lowercase}}'></i>
      <span>

          {{app.name}}

      </span>
    </a>
    <ul id='sub-menu-{{ app.app_label }}' class='sub-menu collapse'>
        <li ng-repeat='model in app.models' ui-sref-active='active'>
          <a ui-sref='objects.list({ app_label: "{{app.app_label}}", model: "{{model.name}}" })'>

              {{model.plural}}

          </a>
        </li>
    </ul>
  </li>
</div>
