{% load i18n slick_tags %}


<div class='nav' ng-controller='sidebar'>
  {% if user.is_authenticated and user.is_staff %}
    <li class='nav-account'>
      {% firstof user.get_short_name user.get_username %}
    </li>
  {% endif %}
  <li class='nav-header'>
    {% trans "Navigation" %}

  </li>
  <li ng-repeat='app in apps'>
    <a data-toggle='collapse' data-parent='#sidebar' data-target='{% verbatim %}#sub-menu-{{ app.app_label }}{% endverbatim %}' aria-expanded='false'>
      <b class='caret pull-right'></b>
      <i class='fa fa-app-default fa-app-{{app.name|lower}}'></i>
      <span>
        {% verbatim %}
          {{app.name}}
        {% endverbatim %}
      </span>
    </a>
    <ul id='{% verbatim %}sub-menu-{{ app.app_label }}{% endverbatim %}' class='sub-menu collapse {% if active %}in{% endif %}'>
        <li ng-repeat='model in app.models'>
          <a ui-sref='{% verbatim %}objects.list({ app_label: "{{app.app_label}}", model: "{{model.name}}" }){% endverbatim %}'>
            {% verbatim %}
              {{model.name}}
            {% endverbatim %}
          </a>
        </li>
    </ul>
  </li>
</div>
