- extends "slick/base_anon.html"
- load bootstrap3



- block content
  .row
    .col-sm-12
      .panel
        .panel-heading
            %h3.panel-title
                Login
        .panel-body
            .padding-15
                %form{:action => "", :method => "post"}
                    - csrf_token
                    {% bootstrap_form form %}
                    .form-actions
                        %input.btn.btn-primary{:type => "submit", :value => "Login"}