{% load static slick_tags %}
<!DOCTYPE html>
<html lang='{{LANGUAGE_CODE}}'>
  <head>
    <meta charset='utf-8'>
    <meta content='width=device-width, initial-scale=1.0' name='viewport'>
    <meta content='' name='description'>
    <meta content='' name='author'>
    <title>Admin</title>
    {% block stylesheets %}
      <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet'>
      <link href='{% static 'slick/plugins/bootstrap-select-1.6.3/css/bootstrap-select.min.css' %}' rel='stylesheet'>
      <link href='{% static 'slick/css/slick.css' %}' rel='stylesheet'>
      <link href='{% static 'slick/plugins/metisMenu/metisMenu.min.css' %}' rel='stylesheet'>

    {% endblock %}
    {% block javascripts %}
      <script type='text/javascript'>
        var slick = {};
      </script>
      <script src='https://code.jquery.com/jquery-3.3.1.slim.min.js'></script>
      <script src='{% static 'slick/plugins/bootstrap-4.3.1/bootstrap.bundle.min.js' %}'></script>
      <script src='{% static 'slick/plugins/metisMenu/metisMenu.min.js' %}'></script>
      <script src='{% static 'slick/plugins/bootstrap-select-1.6.3/js/bootstrap-select.min.js' %}'></script>
      <script src='{% static 'slick/js/slick.js' %}'></script>
      <script type='text/javascript'>
        (function($) {
          $(document).ready(function() {
            slick.initSidebar();
          });
        })(slk.jQuery);
      </script>
    {% endblock %}
    {% block extrahead %}

    {% endblock %}

  </head>
  <body class=''>
    <div class='header navbar navbar-light navbar-fixed-top' id='header'>
      <div class='container-fluid'>
        <div class='navbar-header'>
          {% block branding %}
            <a class='navbar-brand'>
              {% block admin_title %}
                {% slick_admin_title %}
              {% endblock %}
            </a>
          {% endblock %}
          <button data-click='sidebar-toggle' type='button' class='navbar-toggle'>
            <span class='icon-bar'></span>
            <span class='icon-bar'></span>
            <span class='icon-bar'></span>
          </button>
        </div>
        {% block object-tools %}
        {% endblock %}
        <div class='nav navbar-nav navbar-right'>
          <ul class='list-inline'>
            {% block object-tools-items %}

            {% endblock %}

          </ul>
        </div>
      </div>
    </div>
    <div id='container-fluid'>
      <div class='row'>
        <div class='sidebar col-md-2' id='sidebar'>
          <div class='sidebar-sticky'>
            {% include "admin/includes/sidebar.html" %}

          </div>
        </div>
        <div class='content col-md-9' id='content'>
            <ul class='list-inline pull-right' id='breadcrumbs'>
              {% block breadcrumbs %}
              {% endblock %}
              {% if title %}
                <li>
                  {{ title|capfirst }}

                </li>
              {% endif %}
            </ul>
            <h1 class='content-title'>
              {% block content_title %}
                {% if title %}
                  {{ title }}

                {% endif %}
              {% endblock %}
            </h1>
            {% block content %}


            {% endblock %}


        </div>
      </div>
    </div>
    {% block footer %}
    {% endblock %}
  </body>
</html>
