{% load admin_static slick_tags %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang='{{LANGUAGE_CODE}}'>
  <head>
    <meta charset='utf-8' />
    <meta content='width=device-width, initial-scale=1.0' name='viewport' />
    <meta content='' name='description' />
    <meta content='' name='author' />
    <title>Admin</title>
    {% block stylesheets %}
      <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' />
      <link href='{% static 'slick/plugins/bootstrap-select-1.6.3/css/bootstrap-select.min.css' %}' rel='stylesheet' />
      <link href='{% static 'slick/css/slick.css' %}' rel='stylesheet' />
    {% endblock %}
    {% block javascripts %}
<script type='text/javascript'>
// <![CDATA[
        var slick = {};
// ]]>
</script>
      <script src='{% static 'slick/plugins/jquery-1.9.1/jquery-1.9.1.min.js' %}'></script>
      <script src='{% static 'slick/plugins/bootstrap-3.3.0/js/bootstrap.min.js' %}'></script>
      <script src='{% static 'slick/plugins/jquery-slimscroll-1.3.0/jquery.slimscroll.min.js' %}'></script>
      <script src='{% static 'slick/plugins/bootstrap-select-1.6.3/js/bootstrap-select.min.js' %}'></script>
      <script src='{% static 'slick/js/slick.js' %}'></script>
<script type='text/javascript'>
// <![CDATA[
        (function($) {
          $(document).ready(function() {
            slick.initSidebar();
          });
        })(slk.jQuery);

// ]]>
</script>
    {% endblock %}
    {% block extrahead %}

    {% endblock %}

  </head>
  <body>
    <div id='page-container'>
      <div id='header' class='header navbar navbar-default navbar-fixed-top'>
        <div class='container-fluid'>
          <div class='navbar-header'>
            <h1>
              <ul id='breadcrumbs' class='list-inline'>
                {% block breadcrumbs %}
                {% endblock %}
                {% block page_title %}
                  {% if title %}
                    <li>
                      {{ title|capfirst }}
                    </li>
                  {% endif %}
                {% endblock %}
              </ul>
            </h1>
            <button class='navbar-toggle' data-click='sidebar-toggle' type='button'>
              <span class='icon-bar'></span>
              <span class='icon-bar'></span>
              <span class='icon-bar'></span>
            </button>
          </div>
         {% block object-tools %}
          <div class='nav navbar-nav navbar-right'>
            <ul class='list-inline'>
              {% block object-tools-items %}

              {% endblock %}

            </ul>
          </div>
         {% endblock %}
        </div>
      </div>
      <div id='sidebar' class='sidebar'>
        <div data-scrollbar='true' data-height='100%'>
          {% include "admin/includes/sidebar.html" %}
        </div>
      </div>
      <div id='content' class='content'>
          {% block content %}

          {% endblock %}

      </div>
    </div>
    {% block footer %}
    {% endblock %}
  </body>
</html>
