{% extends "admin/base.html" %}
{% load admin_list i18n admin_urls %}

{% block javascripts %}
	{{ block.super }}
	<script type='text/javascript'>
	  (function($) {
	  	$(document).ready(function() {
	  		slick.initFilter();
	  	});
	  })(slk.jQuery);
	</script>
{% endblock %}
{% block page_title %}
	<li>
		{{ title|capfirst }}

	</li>
{% endblock %}
{% block object-tools-items %}
	{% if has_add_permission %}
		<li>
			<a href='{% url cl.opts|admin_urlname:'add' %}' class='btn btn-primary btn'>
				{% blocktrans with cl.opts.verbose_name|capfirst as name %}Add {{ name }}{% endblocktrans %}

			</a>
		</li>
	{% endif %}
{% endblock %}
{% block content %}
	<div class='row'>
		{% block result_list %}
			<div class='col-md-9'>
				{% if action_form and actions_on_top and cl.show_admin_actions %}{% admin_actions %}{% endif %}
				<div class='card'>
					<div class='card-heading'>
						{{ cl.opts.verbose_name_plural|capfirst }}

					</div>
					<div class='card-body'>
						<div class='row'>
							<div class='col-lg-12'>
								{% block search %}
									{% search_form cl %}

								{% endblock %}
							</div>
						</div>
						{% result_list cl %}

					</div>
					{% if action_form and actions_on_bottom and cl.show_admin_actions %}{% admin_actions %}{% endif %}


				</div>
			</div>
			<div class='col-md-2'>
				{% if cl.has_filters %}
					{% for spec in cl.filter_specs %}
						{% admin_list_filter cl spec %}
					{% endfor %}
				{% endif %}
			</div>
		{% endblock %}
	</div>
{% endblock %}
