{% extends "admin/base.html" %}
{% load admin_modify i18n admin_urls %}


{% block javascripts %}
    {{ block.super }}
    {{ media }}


{% endblock %}
{% block breadcrumbs %}
    {% if not is_popup %}
        <li>
            <a href='{% url 'admin:app_list' app_label=opts.app_label %}'>
                {% trans app_label|capfirst|escape %}
            </a>
        </li>
        <li>
            {% if has_change_permission %}
                <a href='{% url opts|admin_urlname:'changelist' %}'>
                    {{ opts.verbose_name_plural|capfirst }}
                </a>
            {% else %}
                {{ opts.verbose_name_plural|capfirst }}


            {% endif %}
        </li>
    {% endif %}
{% endblock %}
{% block object-tools-items %}
    {% if has_add_permission %}
        <li>
            <a class='btn btn-primary btn' type='submit' name='_save'>
                {% trans 'Save' %}


            </a>
        </li>
    {% endif %}
{% endblock %}
{% block content %}
    <div class='row-fluid'>
        <form id='{{ opts.model_name }}_form' action='' role='form' method='post'>
            {% if errors %}
                <p class='errornote'>
                    {% if errors|length == 1 %}{% trans "Please correct the error below." %}{% else %}{% trans "Please correct the errors below." %}{% endif %}
                </p>
                <ul class='errorlist'>
                    {% for error in adminform.form.non_field_errors %}
                        <li>
                            {{ error }}

                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
            {% block field_sets %}
            {% for fieldset in adminform %}
                {% if fieldset.name or fieldset.description %}
                    <div class='col-md-3 col-lg-3'>
                        {% if fieldset.name %}
                            <h4>
                                {{ fieldset.name }}

                            </h4>
                        {% endif %}
                        {% if fieldset.description %}
                            <p>
                                <small>
                                    {{ fieldset.description|safe }}

                                </small>
                            </p>
                        {% endif %}
                    </div>
                    <div class='col-md-9 col-lg-9'>
                        {% include "admin/includes/fieldset.html" %}
                    </div>
                {% else %}
                    <div class='col-md-12'>
                        {% include "admin/includes/fieldset.html" %}

                    </div>
                {% endif %}
            {% endfor %}
            {% endblock %}

            {% block after_field_sets %}{% endblock %}

            {% block inline_field_sets %}
            {% for inline_admin_formset in inline_admin_formsets %}
            {% include inline_admin_formset.opts.template %}
            {% endfor %}
            {% endblock %}

            {% block after_related_objects %}{% endblock %}

            <div class='form-actions col-md-12'>
                {% block submit_buttons_bottom %}
                    {% submit_row %}

                {% endblock %}
            </div>
            {% prepopulated_fields_js %}
        </form>
    </div>
{% endblock %}
