{% extends "admin/base.html" %}
{% load admin_list i18n admin_urls %}

{% block javascripts %}
	{{ block.super }}
<script type='text/javascript'>
// <![CDATA[
        (function($) {
            $(document).ready(function() {
                slick.initFilter();
            });
        })(slk.jQuery);

// ]]>
</script>
{% endblock %}
{% block breadcrumbs %}
	{% if not is_popup %}
		<li>
			<a href='{% url 'admin:app_list' app_label=cl.opts.app_label %}'>
				{% trans app_label|capfirst|escape %}
			</a>
		</li>
		<li>
			<a href='{% url 'admin:app_list' app_label=cl.opts.app_label %}'>
				{{ cl.opts.verbose_name_plural|capfirst }}

			</a>
		</li>
	{% endif %}
{% endblock %}
{% block page_title %}
	<li>
		{{ title|capfirst }}

	</li>
{% endblock %}
{% block object-tools %}

{% endblock %}

{% block content %}
	<div class='row'>
		{% block result_list %}
			<div class='col-md-12'>
				{% if action_form and actions_on_top and cl.show_admin_actions %}{% admin_actions %}{% endif %}
				<div class='panel'>
					<div class='panel-heading'></div>
					<div class='panel-body'>
						<div class='row'>
							<div class='col-lg-6'>
								<div class='input-group'>
									<div class='input-group-btn'>
										{% if cl.has_filters %}
											<button class='btn btn-default dropdown-toggle' data-toggle='dropdown'>
												{% trans 'Filter' %}
												<span class='caret'></span>
											</button>
											<ul class='dropdown-menu dropdown-menu-form'>
													{% for spec in cl.filter_specs %}
														{% admin_list_filter cl spec %}
													{% endfor %}

											</ul>
										{% endif %}
									</div>
									{% block search %}
										{% search_form cl %}

									{% endblock %}
								</div>
							</div>
						</div>
						{% result_list cl %}

					</div>
					{% if action_form and actions_on_bottom and cl.show_admin_actions %}{% admin_actions %}{% endif %}
				</div>
			</div>
		{% endblock %}
	</div>
{% endblock %}
