{% load i18n %}


		<select class='selectpicker filter-choice span' data-header='{% blocktrans with title|capfirst as filter_title %}{{ filter_title }}{% endblocktrans %}'>
			{% for choice in choices %}
				{% if choice.selected %}
					<option selected='selected' value='{{ choice.query_string|iriencode }}'>
						{{ choice.display }}

					</option>
				{% else %}
					<option value='{{ choice.query_string|iriencode }}'>
						{{ choice.display }}
					</option>
				{% endif %}
			{% endfor %}
		</select>
