{% extends "admin/base.html" %}
{% load i18n slick_tags log %}

{% block content %}
	{% get_app_list as app_list %}


			<div class='row portlets' data-portlets-id='dashboard'>
				<div class='col-md-4' portlet='portlet'>
					{% for app in app_list|slice:"0:5" %}
						{% include "slick/app_panel.html" %}
					{% endfor %}
				</div>
				<div class='col-md-4'>
					{% for app in app_list|slice:"5:10" %}
						{% include "slick/app_panel.html" %}
					{% endfor %}
				</div>
				<div class='col-md-4'>
					{% for app in app_list|slice:"10:15" %}
						{% include "slick/app_panel.html" %}

					{% endfor %}
				</div>
			</div>
{% endblock %}
