{% load i18n admin_static %}

{% if cl.search_fields %}
	<div class='input-group input-group-sm'>
		<input class='form-control search-query' placeholder='{% trans 'Search' %}' type='text' name='{{ search_var }}' value='{{ cl.query }}' />
		<span class='input-group-btn'>
			<button class='btn btn-default' type='button'>
				{% trans 'Search' %}

			</button>
		</span>
	</div>
	{% for pair in cl.params.items %}
		{% ifnotequal pair.0 search_var %}<input type='hidden' name='' value='' />		{% endifnotequal %}
	{% endfor %}
{% endif %}
