- load i18n admin_static admin_modify 

.inline-group{:id => "{{ inline_admin_formset.formset.prefix }}-group"}
	.tabular.inline-related{:class => "{% if forloop.last %}last-related{% endif %}"}
		{{ inline_admin_formset.formset.management_form }}

		.panel.panel-inverse
			.panel-heading
				{{ inline_admin_formset.opts.verbose_name_plural|capfirst }}
			.panel-body
				%table.table.table-striped
					%thead
						%tr
							- for field in inline_admin_formset.fields
								- if not field.widget.is_hidden
									%th{}
										{{ field.label|capfirst }}

							- if inline_admin_formset.formset.can_delete
								%th
									{% trans "Delete?" %}
					%tbody
						- for inline_admin_form in inline_admin_formset
							- if inline_admin_form.form.non_field_errors
								%tr.danger
									%td{:colspan => "{{ inline_admin_form|cell_count }}"}
										{{ inline_admin_form.form.non_field_errors }}
							%tr.form-row{:id => "{{ inline_admin_formset.formset.prefix }}-{% if not forloop.last %}{{ forloop.counter0 }}{% else %}empty{% endif %}"}
								%td.original.hidden
									- if inline_admin_form.original or inline_admin_form.show_url
										%p
											- if inline_admin_form.original
												{{ inline_admin_form.original }}
											- if inline_admin_form.show_url
												%a{:href => "{% url 'admin:view_on_site' inline_admin_form.original_content_type_id inline_admin_form.original.pk %}"}
													- trans "View on site"
			
									- if inline_admin_form.needs_explicit_pk_field or inline_admin_form.has_auto_field
										{{ inline_admin_form.pk_field.field }}

									{{ inline_admin_form.fk_field.field }}

									- spaceless
										- for fieldset in inline_admin_form
											- for line in fieldset
												- for field in line
													- if field.is_hidden
														{{ field.field }}

								- for fieldset in inline_admin_form
									- for line in fieldset
										- for field in line
											%td{:class => "{% if field.field.name %}field-{{ field.field.name }}{% endif %}"}
												- if field.is_readonly
													<p>{{ field.contents|linebreaksbr }}</p>
												- else
													{{ field.field }}

								- if inline_admin_formset.formset.can_delete
									%td
										- if inline_admin_form.original
											
												{{ inline_admin_form.deletion_field.field }}

  