- load admin_static slick_tags
!!!
%html{lang: "{{LANGUAGE_CODE}}"}
  %head
    %meta{charset: "utf-8"}/
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}
    %meta{content: "", name: "description"}
    %meta{content: "", name: "author"}
    %title Admin
    - block stylesheets
      %link{href: "http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700", rel: "stylesheet"}
      %link{href: "{% static 'slick/plugins/bootstrap-select-1.6.3/css/bootstrap-select.min.css' %}", rel: "stylesheet"}
      %link{href: "{% static 'slick/css/slick.css' %}", rel: "stylesheet"}
    - block javascripts
      :javascript
        var slick = {};
      %script{src: "{% static 'slick/plugins/jquery-1.9.1/jquery-1.9.1.min.js' %}"}
      %script{src: "{% static 'slick/plugins/bootstrap-3.3.0/js/bootstrap.min.js' %}"}
      %script{src: "{% static 'slick/plugins/jquery-slimscroll-1.3.0/jquery.slimscroll.min.js' %}"}
      %script{src: "{% static 'slick/plugins/bootstrap-select-1.6.3/js/bootstrap-select.min.js' %}"}
      %script{src: "{% static 'slick/js/slick.js' %}"}
    
    - block extrahead

  %body{class: ""}
    #page-container
      #header.header.navbar.navbar-default.navbar-fixed-top
        .container-fluid
          .navbar-header.pull-left
            %h1
              %ul#breadcrumbs.list-inline
                - block breadcrumbs
                - block page_title
                  - if title
                    %li
                      {{ title|capfirst }}
           
         - block object-tools
          .nav.navbar-nav.navbar-right
            %ul.list-inline
              - block object-tools-items


      #sidebar.sidebar
        %div{data-scrollbar: "true", data-height: "100%"}
          - include "admin/includes/sidebar.html"
      #content.content
          - block content
    
    - block footer
