- load i18n
	

		%select.selectpicker.filter-choice.span{:data-header => "{% blocktrans with title|capfirst as filter_title %}{{ filter_title }}{% endblocktrans %}"}
			- for choice in choices
				- if choice.selected
					%option{:value => "{{ choice.query_string|iriencode }}", :selected => 'selected'} 
						{{ choice.display }}

				- else
					%option{:value => "{{ choice.query_string|iriencode }}"}
						{{ choice.display }}
