- load i18n

.grp-module
 	.grp-row
		%label 
    		{% blocktrans with title|capfirst as filter_title %}{{ filter_title }}{% endblocktrans %}

		%select.filter-choice
			- for choice in choices
				%option{:value => "{{ choice.query_string|iriencode }}"}
					{{ choice.display }}