- extends "admin/base.html"
- load i18n slick_tags log

- block content
	- get_app_list as app_list
			
			
			.row.portlets{:data-portlets-id => "dashboard"}
				.col-md-4{:portlet => "portlet"}
					- for app in app_list|slice:"0:5"
						- include "slick/app_panel.html"
				.col-md-4
					- for app in app_list|slice:"5:10"
						- include "slick/app_panel.html"
				.col-md-4
					- for app in app_list|slice:"10:15"
						- include "slick/app_panel.html"					

			-#
				.row
					.col-md-4
						{% slickpanel title='My Actions' %}
							%ul.list-group
								- get_admin_log 10 as admin_log for_user user
									- for entry in admin_log
										%li.list-group-item
											%i{:class => "{% if entry.is_addition %} fa fa-plus-circle{% endif %}{% if entry.is_change %}fa fa-edit{% endif %}{% if entry.is_deletion %}fa fa-remove{% endif %}"}
											- if model.admin_url
												%a{:href => "{{ entry.get_admin_url }}"}
													{{ entry.object_repr }}
											- else
												{{ entry.object_repr }}

											%small
												- trans entry.content_type.name 

						{% endslickpanel %}



