

body
	background: #ebeef0
	color: #707478


h1, h2, h3, h4, h5, h6
	font-weight: 500
	color: #242a30



//  CONTENT


.content
	margin-left: 210px
	padding: 20px
	margin-top: 60px

	@media (max-width: $screen-sm-min)
		margin-left: 0
		margin-top: 100px


.page-header
	font-size: 24px
	margin: 0 0 20px
	padding: 0
	border: none
	line-height: 28px


#breadcrumbs>li a
	color: #96a7b6


#breadcrumbs>li+li:before
	padding: 0 5px
	color: #ccc
	content: "/\00a0"

	@media (max-width: $screen-sm-min)
		padding: 0



//	NAVBAR



.navbar.navbar-default
	background: #fff

.navbar
	border: none
	-webkit-border-radius: 0
	-moz-border-radius: 0
	border-radius: 0
	-webkit-box-shadow: 0 0 2px rgba(0,0,0,.3)
	box-shadow: 0 0 2px rgba(0,0,0,.3)

.navbar-fixed-top
	left: 210px

	@media (max-width: $screen-sm-min)
		left: 0


.navbar-header
	height: 56px

	@media (max-width: $screen-sm-min)
		border-bottom: 1px solid #eee

	h1
		font-size: 18px
		line-height: 57px
		margin-top: 0
		margin-bottom: 0
		float: left

		@media (max-width: $screen-md-min)
			font-size: 12px

		@media (max-width: $screen-sm-min)
			line-height: 37px
			padding: 10px

		ul	
			margin-bottom: 0

.navbar-right
	margin: 14px 0px

	@media (max-width: $screen-sm-min)
		float: right
		margin: 6px

	ul
		margin-bottom: 0

.navbar-toggle 
	margin-top: 10px
	margin-bottom: 10px
	padding: 10px
	border: none


//	MISC

.sticky-bottom
	position: fixed
	right: 0
	left: 0
	bottom: 0
	z-index: 1030
	width: calc(100% / - 210px)
	left: 210px
	padding: 20px

.list-group
	margin-bottom: 0

	.list-group-item
		&:first-child
			border-top-right-radius: 0px
			border-top-left-radius: 0px
	a.list-group-item
		color: #555

.list-inline
	>li
		display: inline-block
		padding-left: 5px
		padding-right: 0px



// Helpers

.margin-top-0 
	margin-top: 0em
.margin-top-05 
	margin-top: 0.5em
.margin-top-10 
	margin-top: 1.0em
.margin-top-15 
	margin-top: 1.5em

.padding-0
	padding: 0em
.padding-05
	padding: 0.5em
.padding-10
	padding: 1.0em

.no-border-radius
	border-top-right-radius: 0
	border-top-left-radius: 0
	border-bottom-right-radius: 0
	border-bottom-left-radius: 0

// Custom Font awesome classes

.fa-app-default:before
	content: '\f10c' // circle-o

.fa-app-auth:before
	content: '\f0c0'

.fa-app-flatpages:before
	content: '\f02d'



//	PANEL

/*
	.panel
		border: none
		-webkit-box-shadow: none
		box-shadow: none
		-webkit-border-radius: 3px
		-moz-border-radius: 3px
		border-radius: 3px


	.panel-body
		padding: 15px


	.panel-heading
		background: #242a30
		color: #fff


	.panel-title
		line-height: 20px
		font-size: 12px



// UI ELEMENTS



