

body
	background: #ebeef0
	color: #707478


h1, h2, h3, h4, h5, h6
	font-weight: 500
	color: #242a30



//  CONTENT


.content
	margin-left: 220px
	padding: 20px
	margin-top: 60px


.page-header
	font-size: 24px
	margin: 0 0 20px
	padding: 0
	border: none
	line-height: 28px


#breadcrumbs>li a
	color: #96a7b6


#breadcrumbs>li+li:before
	padding: 0 5px
	color: #ccc
	content: "/\00a0"



//	NAVBAR



.navbar.navbar-default
	background: #fff

.navbar
	border: none
	-webkit-border-radius: 0
	-moz-border-radius: 0
	border-radius: 0
	-webkit-box-shadow: 0 0 2px rgba(0,0,0,.3)
	box-shadow: 0 0 2px rgba(0,0,0,.3)

.navbar-fixed-top
	left: 220px


.navbar-header
	height: 56px


	h1
		font-size: 18px
		line-height: 57px
		margin-top: 0
		margin-bottom: 0

		ul	
			margin-bottom: 0

.navbar-right
	margin: 14px 0px

	ul
		margin-bottom: 0



//	MISC

.sticky-bottom
	position: fixed
	right: 0
	left: 0
	bottom: 0
	z-index: 1030
	width: calc(100% / - 220px)
	left: 220px
	padding: 20px


// Helpers

.margin-top-05 
	margin-top: 0.5em
.margin-top-10 
	margin-top: 1.0em
.margin-top-15 
	margin-top: 1.5em



//	PANEL

/*
	.panel
		border: none
		-webkit-box-shadow: none
		box-shadow: none
		-webkit-border-radius: 3px
		-moz-border-radius: 3px
		border-radius: 3px


	.panel-body
		padding: 15px


	.panel-heading
		background: #242a30
		color: #fff


	.panel-title
		line-height: 20px
		font-size: 12px



// UI ELEMENTS

