.panel
	
	-webkit-box-shadow: none
	box-shadow: none

	&.collapse
		display: block
		visibility: visible

		.btn-collapse
			display: block

	.btn-collapse
		display: none


	.panel-heading
		min-height: 40px

		.panel-title
			
			font-size: 12px
		.navbar
			margin-bottom: 0
			min-height: 0
		.navbar-form
			margin-top: 0
			margin-bottom: 0
			
			border-top: 0
			border-bottom: 0
		.btn-group
			float: right

	.collapsed
		display: none
		visibility: hidden

	.panel-footer
		.pagination
			margin: 0

	.list-group-item
		border: 0

.panel-default
	border-top-width: 3px
	.panel-heading
		border-bottom: 0


.panel-inverse
	@include panel-variant($panel-inverse-border, $panel-inverse-text, $panel-inverse-heading-bg, $panel-inverse-border)
