.panel
	border: none
	-webkit-box-shadow: none
	box-shadow: none

	.panel-heading
		a
			color: #fff

.panel-inverse
	@include panel-variant($panel-inverse-border, $panel-inverse-text, $panel-inverse-heading-bg, $panel-inverse-border)
