- load humanize

.row.action
	.col-sm-12
		.padding-5.padding-left-5
			%span.fa-stack.fa-lg
				%i.fa.fa-circle.fa-stack-2x{:style => "color:#DCDDDD"}
				%i.fa.fa-tag.fa-stack-1x
			{{ action.actor }} {{ action.verb }} {{ action.action_object.as_label }} label to {{ action.target|truncatechars:20 }} {{ action.timestamp|naturaltime }}
