- load slick_tags

- if input_type == "checkbox"
	.checkbox
		%label
			{{ field }} {{ field.label_tag }}
		- if field.help_text
			%span.help-block
				{{ field.field.help_text|safe }}
- else
	.form-group{:class => "{% if not field.is_readonly and field.errors %}has-error{% endif %}"}
		- if show_label != False
			{{ field.label_tag }}

		- if field.is_readonly
			<p>{{ field.contents }}</p>
		- else

			- if input_type == "select"
				{{ field|addattrs:"class:form-control,class:selectpicker,data-live-search:true" }}
			- else
				{{ field|addattrs:"class:form-control" }}

			- if field.errors
				%span.text-danger
					{{ field.errors|striptags }}

		- if field.field.help_text
			%span.help-block
				{{ field.field.help_text|safe }}
