- load i18n slick_tags

.panel.panel-default.collapse{:id => "panel-{{ name|lower }}", :class => "{{classes}}", :data-collapse-group => "test"}
	.panel-heading
		.btn-group.btn-group-xxs
			- if collapse
				%a.btn{:data-click => "panel-collapse"}
					%span.fa-stack
						%i.fa.fa-circle.fa-stack-2x
						%i.fa.fa-minus.fa-stack-1x.fa-inverse
		- if title	
			.panel-title
				%a{:href => ""}
					- trans title
	- if body
		.panel-body
			{{ body }}