- extends "base.html"
- load bootstrap3

- block page-heading-title
    Profile :: {{object|truncatechars:100}}


- block content
  .row
    .col-sm-12
      .panel
        .panel-heading
            %h3.panel-title
                Profile details
        .panel-body
            %table.table.table-detail
                %tbody
                    %tr
                        %td.td-label.col-sm-3 First name 
                        %td= object.first_name
                    %tr
                        %td.td-label.col-sm-3 Last name 
                        %td= object.last_name
