- load admin_modify i18n slick_tags

{% slickpanel title=fieldset.name classes=fieldset.classes collapse=1 %}
	.padding-15
		- for line in fieldset
			- for field in line
				- slick_field field
{% endslickpanel %}
%hr