- load admin_modify i18n

.panel.panel-inverse.aligned{:class => "{{ fieldset.classes }}"}
	.panel-body
		- for line in fieldset
				- for field in line
					.form-group
						- include "admin/includes/field.html"
