- load i18n slick_tags

- get_app_list as app_list

- if app_list
  -# %li.nav-account
  -#   - firstof user.get_short_name user.get_username
  .brand-box
    %a.navbar-brand
      - block branding
        - block admin_title
          - slick_admin_title
  #sidebar-menu

    %ul#metis
      %h6.sidebar-heading
        %span
          {% trans "Navigation" %}
      - for app in available_apps
        - is_active_path app.admin_url 1 1 as active
        %li{:class => "{% if active %}mm-active{% endif %}"}
          %a.has-arrow
            {{ app.name }}
          %ul.flex-column
            - for model in app.models
              - is_active_path model.admin_url 1 1 as active
              %li{:class => "{% if active %}mm-active{% endif %}"}
                - if model.admin_url
                  %a.nav-link{:href => "{{ model.admin_url }}"}
                    {{ model.name }}
                - else
                  %a.nav-link{:href => "#"}
                    {{ model.name }}
