- load i18n slick_tags

- get_app_list as app_list

- if app_list
  .nav
    - for app in app_list
      %li
        %a{:href => "#", :data-toggle => "collapse", :data-target => "#sub-menu-{{ app.name }}", :aria-expanded => "false", :data-parent => "#sidebar"}
          %span
            {{ app.name }}
        %ul.sub-menu.collapse{:id => "sub-menu-{{ app.name }}"}
          - for model in app.models
            %li
              - if model.admin_url
                %a{:href => "{{ model.admin_url }}"}
                  {{ model.name }}
              - else
                %a{:gref => "#"}
                  {{ model.name }}

