- load i18n slick_tags

- get_app_list as app_list

- if app_list
  .nav
    - if user.is_authenticated and user.is_staff
      %li.nav-account
        - firstof user.get_short_name user.get_username
    %li.nav-header
      {% trans "Navigation" %}
    - for app in app_list
      - is_active_path app.admin_url 1 1 as active
      %li{:class => "{% if active %}active{% endif %}"}
        
        %a{:href => "#", :data-toggle => "collapse", :data-target => "#sub-menu-{{ app.name|lower }}", :aria-expanded => "false", :data-parent => "#sidebar"}
          %b.caret.pull-right
          %i{:class => "fa fa-app-default fa-app-{{app.name|lower}}"}
          %span
            {{ app.name }}
        %ul.sub-menu.collapse{:id => "sub-menu-{{ app.name|lower }}", :class => "{% if active %}in{% endif %}"}
          - for model in app.models
            - is_active_path model.admin_url 1 1 as active
            %li{:class => "{% if active %}active{% endif %}"}
              - if model.admin_url
                %a{:href => "{{ model.admin_url }}"}
                  {{ model.name }}
              - else
                %a{:href => "#"}
                  {{ model.name }}
