- load placehold typefield errorlist semanticui

- if fieldset.name
  %h4.ui.dividing.header
    {{ fieldset.name }}
    - if fieldset.description
      .sub.header
          {{ fieldset.description|safe }}


- for line in fieldset
    %div{:class => "field {% for field in line %} {% if field.field|is_datetime %} icon {% endif %} {% endfor %} {% if line.fields|length_is:'1' and line.errors %} error{% endif %}{% if not line.has_visible_field %} hidden{% endif %}{% for field in line %}{% if field.field.name %} field-{{ field.field.name }}{% endif %} {{field.field.css_classes}}{% endfor %}"}
        %div{:class => "{% if line.fields|length_is:'1' %}{% else %}{{ line.fields|length }} fields{% endif %}"}
            - for field in line
                {% render_field field.field %}

