

%div{:pageheading => ""}

.row
	.col-lg-12
		<div cg-busy="myPromise">

		<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
		<form name="ModelForm" sf-schema="schema" sf-form="form" sf-model="model" ng-submit="onSubmit(ModelForm)"></form>

