
%ul.list-group
    - for object, row in rows
        %li.list-group-item
            %h4= row.0
            %ul.list-inline.meta.list-group
                - for col in row|slice:"1:"
                    %li.list-group-item= col
