- load i18n activelink
- load url from future
- load guardian_tags

- if object
    - for link in manager.links.default_instance
        - get_obj_perms request.user for object as "perms"
        
        - url manager.name|add:':'|add:link.name pk=object.pk as url
        - if url and link.permission_required|cut:manager.name|cut:"." in perms
            - ifactive url
            - else
                %a.btn{:class => "btn btn-{% if link.name == 'delete' %}danger{% else %}default{% endif %}", :href => "{{ url }}"}
                    {{ link.get_title }}
            - endifactive

- else
    - for link in manager.links.default_global
        - url manager.name|add:':'|add:link.name as url
        - if url
            - ifactive url
            - else
                %a.btn{:class => "btn btn-{% if link.name == 'delete' %}danger{% else %}default{% endif %}", :href => "{{ url }}"}
                    {{ link.get_title }}
            - endifactive