- load activelink

  %ul.nav
    %li.nav-header
      Navigation
    %li{:class => "{% ifactive 'dashboard' %}active{% endifactive %}"}
      %a
        %b.caret.pull-right
        %i{:class => "fa fa-app-default"}
        %span.nav-title
          test