.tab-base
	%ul.nav.nav-tabs
		- for k, v in tabs.items
			%li{:class => "{% if forloop.first %}active{% endif %}"}
				%a{:data-toggle => "tab", :href => "#{{k}}"}
					{{ v.title }}

	.tab-content
		- for k, v in tabs.items
			.tab-pane.fade{:id => "{{k}}", :class => "{% if forloop.first %}active in{% endif %}"}
				{{v.content}}
